* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9E9E9;
    font-size: 12px;
    font-family: STSong, SimSun;
    width: 100%;
	min-width: 1280px;
	color: #183B68;
}

div.navTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1280px;
	color: #0F406E;
	background-color: #fff;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #dcdbdc;
}

div.container {
	width: 84%;
	min-width: 1280px;
	min-height: 500px;
	margin: 100px auto;
}
div.njupt {
	width: 100%;
	padding-bottom: 20px;
	font-size: 60px;
	color: #0A3565;
	font-weight: bold;
	border-bottom: 2px solid #0A3565; 
}
div.main {
	width: 84%;
	position: absolute;
	min-width: 1280px;
	background-color: #fff;
	min-height: 800px;
	top: 220px;
	border: 1px solid #DADADA;
	margin-bottom: 100px;
}
div.top {
	position: absolute;
	top: 16px;
	left: 200px;
}
div.name {
	font-weight: bold;
	font-size: 60px;
}
div.intro {
	margin-top: 10px;
	font-size: 20px;
	color: rgba(24, 59, 104,.7);
}
div.leftTop {
	position: absolute;
	top: 150px;
	width: 50%;
	height: 290px;
}
div.nav {
	margin-left: 60px;
	font-size: 16px;
}
div.nav ul li {
	padding: 10px;
	width: 150px;
	color: #354F71;
	cursor: pointer;
	transition: background-color .3s;
}
div.nav ul li:hover {
	background-color: #8A9CB1;
}
div.leftTop img {
	width: 270px;
	height: 270px;
	position: absolute;
	left: 300px;
	top: 0;
	border: 1px solid #F0EFF0; 
}
div.leftBottom {
	position: absolute;
	top: 440px;
	left: 60px;
	width: 510px;
	min-height: 400px;
	border-top: 1px solid #F0EFF0; 
}
div.logo img {
	width: 79px;
	height: 79px;
	position: absolute;
	top: 10px;
	left: 30px;
}
div.simple {
	position: absolute;
	top: 100px;
	left: 70px;
}
div.simple p {
	color: #546380;
	margin-bottom: 10px;
	font-weight: bold;
}
div.simple p.ti {
	font-size: 18px;
	color: #00004E;
}
div.simple p.content {
	font-size: 16px;
}
div.right {
	margin-left: 50%;
	margin-top: 150px;
	width: 46%;
	border-left: 1px solid #DDDDDD; 
	min-height: 630px;
	padding-left: 20px;
}
div.rightTitle {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
div.right .pp {
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	line-height: 130%;
	margin-top: 40px;
	margin-bottom: 40px;
}